<div class="row">

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-push-1">
                <h2 class="ng-cloak" style="color: #1E90FF">
                    Analytics
                </h2>
            </div>
            <div class="col-md-5 col-md-push-1" ng-controller="GraphController as vm">
            <div class="chart-wrapper">

                <div class="chart-header">
                    <h5>Evolution of speed</h5>
                </div>
                <div class="chart-content">
                    <nvd3 options="vm.lineGraphOptions" data="vm.lineGraphData"></nvd3>
                </div>
            </div>
            </div>


            <div class="col-md-6 col-md-push-1" ng-controller="BarChartController as barchart">
                <div class="chart-wrapper">

                    <div class="chart-header">
                        <h5>Average speeds</h5>
                    </div>
                    <div class="chart-content">
                        <nvd3 options="barchart.chartOptions" data="barchart.chartData"></nvd3>
                    </div>
                </div>
            </div>
             <div class="col-md-5 col-md-push-1" ng-controller="DangerZonesController as dangerZones">
                <div class="chart-wrapper" style="height: 350px; overflow: auto">

                    <div class="chart-header">
                        <h5>Identified danger zones</h5>
                    </div>
                    <div class="chart-content">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Address</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="zone in dangerZones.dangerousZones ">
                                <td>{{zone}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-md-push-1" ng-controller="IllegalitiesController as il">
                  <div class="chart-wrapper">

                    <div class="chart-header">
                        <h5>Recently identified illegalities</h5>
                    </div>
                    <div style="width:150px">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <td ><span class="illegalities">{{il.illegalities}}</span></td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
