<!--<div class="row">-->
    <!--<div class="col-md-12 col-md-push-1">-->

        <!--<br>-->
        <!--<form style="clear:both;">-->
            <!--<div class="form-group">-->
                <!--<label>Date from: </label>-->
                <!--<input class="form-control" type="text" ng-model="vm.formModel.dateFrom">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label>Date to: </label>-->
                <!--<input class="form-control" type="text" ng-model="vm.formModel.dateTo">-->
            <!--</div>-->
            <!--<button class="btn btn-primary" type="submit" ng-click="vm.getAggregates()">Get aggregates</button>-->
        <!--</form>-->


    <!--</div>-->

<!--</div>-->

<div class="row" ng-controller="MapController as mapController">
    <div class="col-md-12 col-md-push-1">
        <h2 class="ng-cloak" style="color: #1E90FF">
            Speedmap - {{mainController.location}}
            {{mainController.geometryBounds}}
        </h2>
        <div class="checkbox checkbox-primary">
            <input type="checkbox" id="checkbox1" class="styled" ng-model="mapController.map.showHeat">
            <label for="checkbox1" class="checkbox-text-enable-heat">
                Enable heatmap
            </label>
        </div>
        <div class="checkbox checkbox-primary pull-right">
            <input type="checkbox" id="checkbox2" class="styled" ng-model="mapController.realTime" ng-change="mapController.changeRealtime()">
            <label for="checkbox2" class="checkbox-text-enable-heat">
                Enable realtime data
            </label>
        </div>
        <div class="col-md-12 ">

            <span class="time-indicator"><span style="font-size:20px;float:left !important;">Time:</span> <span ng-bind="mapController.parseTimestamp(mapController.sliderLow)"></span> -
                <span ng-bind="mapController.parseTimestamp(mapController.sliderHigh)"></span> </span>
            <rzslider rz-slider-model="mapController.sliderLow"
                      rz-slider-high="mapController.sliderHigh"
                      rz-slider-options="mapController.sliderOptions"></rzslider>
            <br>

            <span class="speed-indicator"><span style="font-size:20px;float:left !important;">Speed:</span> <span ng-bind="mapController.speedFilter"></span>km/h </span>
            <rzslider rz-slider-model="mapController.speedFilter"
                      rz-slider-options="mapController.speedSliderOptions"></rzslider>


            <!--<md-slider transform-test ng-model="mapController.sliderValue" flex min="0" max="86400" step="60" id="red-slider" class></md-slider>-->
        </div>

    </div>
    <div class="col-md-12 col-md-push-1">
        <br>
        <ui-gmap-google-map center='mapController.map.center' zoom='mapController.map.zoom'>
            <ui-gmap-layer namespace="visualization" type="HeatmapLayer" show="mapController.map.showHeat"
                           onCreated="mapController.map.heatLayerCallback"></ui-gmap-layer>
        </ui-gmap-google-map>
    </div>
</div>
