body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*background-color: #2f4050;*/
    font-size: 13px;
    color: #676a6c;
    overflow-x: hidden;
}
.container {
    padding: 0;

}

.navbar-fixed-side{
 position: fixed;
    height: 100%;
    width: 200px;
    left: 0;
    border-color: #2f4050

    }
   .main-content {
    width: 80%
   }

   .main-content-collapsed {
    margin-left: 40px;
   }


    .sidebar-nav{
    width: 80%;
        left: 2px;
        margin-top: 20px;
    }

        .sidebar-nav > li {
        width: 100%;
        width: 100%;
        padding-bottom: 6px;

        margin-left: 15px;
        text-align: center;

           }
         .is-navbar-collapsed > .container-fluid > .sidebar-nav > li {
              margin-left: 5px;
         }
        .sidebar-nav a {
            margin: 1px;
            margin-left: 0px;
            padding-left: 0px;
        }

        .sidebar-nav > li.active > a {
            background: #E4F1FE !important;
        }

        .sidebar-nav li .glyphicon {
        font-size: 1.2em;
        }

          .is-navbar-collapsed > .container-fluid > .sidebar-nav li  .glyphicon  {
            margin-left: -15px;
          }

        .sidebar-nav a:hover {
               border: 1px solid;
                border-color: #d1d9dd;

        }

  .our-logo{
       margin-top: 20px;
    padding-left: 50px;
    margin-bottom: 20px;
    align: center, width:150px;
    height: 100px;
    width: 270px;
    margin-left: 60px;
  }

  .our-logo-smallish{
        margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    float: right;
    align: center, width:30px;
    height: 30px;
    width: 50px;
  }


  .conti-logo-smallish{
        margin-top: 0;
    padding-left: 0;
    margin-bottom: 0;
    align: center, width:55px;
    height: 45px;

    position: fixed;
  }


.collapse-sidebar {
    position: fixed;
    font-size: 3.5em;
    bottom: 15px;
    left: 140px;
}

.collapse-sidebar:hover {
    color: #3498DB
}

.expand-sidebar {
    position: fixed;
    font-size: 3.5em;
    bottom: 15px;
     left: 20px;
}

.expand-sidebar:hover {
    color: #3498DB
}

.is-navbar-collapsed {
    width: 70px;
}


.is-navbar-collapsed + .main-content {
    margin-left: 40px;
}


/* charts */
.chart-wrapper {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}


#red-slider .md-thumb:after, #red-slider .md-track{
    background-color: #1E90FF !important;
    border-color: #1E90FF !important;
}
#red-slider .md-focus-thumb, #red-slider .md-focus-ring{
    background-color: #1E90FF;
}



.time-indicator {
text-align: center;
    margin-left: 40%;
    color:#1E90FF;
    font-size: 24px;
}

.speed-indicator {
text-align: center;
    margin-left: 40%;
    color:#1E90FF;
    font-size: 24px;

}

.chart-header {
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    color: inherit;

    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
   }

 .chart-header > h5 {
     font-weight: bolder;
    font-size: 18px;

 }

  .chart-content {
      background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;

   }

   .illegalities{

       text-align: center;
    margin-left: 60px;
    font-weight: bolder;
    color: crimson;
    font-size: 30px;
   }