	<!DOCTYPE html>
	<html>

	<head>
		<meta charset="UTF-8">
		<title>Speedmap - Atigeo</title>

		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/bootstrap-theme.css">

	    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	    <script src="js/nv.d3.js"></script>
		<script src="js/jquery-2.1.4.js"></script>
		<script src="js/bootstrap.js"></script>

		<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBAGWk4cH9OQt1KScJPNMsn72ThtBCgdHo&libraries=visualization,weather,geometry"
			></script>
        <script src="js/lodash.min.js">	</script>
		<script src="js/angular.js"></script>
		<script src="js/angular-nvd3.min.js"></script>
		<script src="js/angular-simple-logger.js"></script>
		


		<link rel="stylesheet" href="css/nv.d3.min.css">
		<style>
	      html, body {
	        height: 100%;
	        margin: 0;
	        padding: 0;
	      }
	      .angular-google-map-container { height: 400px; }

		</style>
	</head>

	<body ng-app="SrcApp">
		<div class="container" ng-controller="MainController as vm">
			<div class="row">
				<div class="col-md-10 col-md-push-1">

					<h2 class="ng-cloak" style="color: #1E90FF">
					Speedmap		
					</h2>
				<img src="img/xPatternsLogo.jpg" style="width:150px;height:100px" class="pull-right">
				<br>
				<form style="clear:both;">
					<div class="form-group">
						<label>Date from: </label>
						<input class="form-control" type="text" ng-model="vm.formModel.dateFrom">
					</div>
					<div class="form-group">
						<label>Date to: </label>
						<input class="form-control" type="text" ng-model="vm.formModel.dateTo">	
					</div>
					<button class="btn btn-primary" type="submit" ng-click="vm.getAggregates()">Get aggregates</button>
				</form>
				<br>
					<div class="well well-sm">
						Note: the date format must be: "yyyy-mm-dd". <br>If either field is empty, it just gets the aggregates for all periods <br>If dates are inserted, then the aggregates will be recomputed (which might take a while)
					</div>
				</div>
			</div>
			<div class="row" ng-controller="MapController as mapController">
				<div class="col-md-10 col-md-push-1">
					
					<br>
					<ui-gmap-google-map center='mapController.map.center' zoom='mapController.map.zoom'>
						    <ui-gmap-layer namespace="visualization" type="HeatmapLayer" show="mapController.map.showHeat"
						     onCreated="mapController.map.heatLayerCallback"></ui-gmap-layer>
					</ui-gmap-google-map>
				</div>
			</div>
		</div>

		<div class="container" ng-controller="GraphController as vm">
			<div class="row">
				<div class="col-md-10 col-md-push-1">
					<nvd3 options="vm.lineGraphOptions" data="vm.lineGraphData"> </nvd3>
				</div>
			</div>
			
		</div>
		</div>
		<br>

		<script src="app/app.js"></script>
		<script src="app/GraphController.js"></script>
		<script src="app/ApiAggregateService.js"></script>
		<script src="app/MapController.js"></script>

		
		<script src="js/angular-google-maps.min.js"></script>

	</body>

	</html>